Repository NHSDigital/terraform-aws-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: trivy, tf-format, tf-lint, shellcheck

trivy:
  name: trivy
  entry: make tf-trivy
  language: system
  pass_filenames: false

tf-format:
  name: tf-format
  entry: make tf-format
  language: system
  pass_filenames: false

tf-lint:
  name: tf-lint
  entry: make tf-lint
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system
  pass_filenames: false

Consolidate the check for version comparing to latest tag.
  .github/workflows/cicd-1-pull-request.yaml
  modules/aws-backup-source/lambda_post_build_version.tf
  scripts/validate-version-to-latest-tag.sh
Due: trivy, tf-format, tf-lint, shellcheck

Correct file name for the script.
  .github/workflows/cicd-1-pull-request.yaml
Due: none

Add execute permission to script.
  scripts/validate-version-to-latest-tag.sh
Due: shellcheck

Retrieve is_greater and version directly from the output file.
  .github/workflows/cicd-1-pull-request.yaml
Due: none

Add lambda code to do the backup.
  modules/aws-backup-source/resources/parameter-store-backup/parameter_store_backup.py
Due: none

Added parameter store functionality.
  modules/aws-backup-destination/parameter_store_kms.tf
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/resources/parameter-store-backup/parameter_store_backup.py
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Add enable functionality for parameter_store module.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
Due: trivy, tf-format, tf-lint

Correct syntax error.
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Correct tag for s3 bucket.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
Due: trivy, tf-format, tf-lint

Add default for parameter store backup lambda cron
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Syntax fix.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
Due: trivy, tf-format, tf-lint

Add variable to disable cross account role creation until role is created on the source side.
  modules/aws-backup-destination/parameter_store_kms.tf
  modules/aws-backup-destination/variables.tf
Due: trivy, tf-format, tf-lint

enable_cross_account_role_permissions by default is false.
  modules/aws-backup-destination/parameter_store_kms.tf
Due: trivy, tf-format, tf-lint

Correct the location of the zip file.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Allow parameter store bucket prevent_destroy to be variable.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Remove prevent destroy on parameter store bucket.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Remove pipeline verbose output.
  .github/workflows/cicd-1-pull-request.yaml
Due: none

Updates from PR and QA testing.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/resources/parameter-store-backup/parameter_store_backup.py
Due: trivy, tf-format, tf-lint

PR updates.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/resources/parameter-store-backup/parameter_store_backup.py
Due: trivy, tf-format, tf-lint

revise wording around validation of backup integrity
  README.md
Due: none

Increase lambda timeout.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
Due: trivy, tf-format, tf-lint

QA testing updates.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Add separate configuration for parameter store by S3.
  modules/aws-backup-source/backup_framework.tf
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/locals.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Add missing variables for selection tag and selection tag value.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Correct compliance resource type for parameter store backup framework.
  modules/aws-backup-source/backup_framework.tf
Due: trivy, tf-format, tf-lint

Add missing parameter store backup plan and backup restore testing.
  modules/aws-backup-source/backup_plan.tf
  modules/aws-backup-source/backup_restore_testing.tf
Due: trivy, tf-format, tf-lint

Add missing parameter store aws_backup_plan.
  modules/aws-backup-source/backup_plan.tf
Due: trivy, tf-format, tf-lint

Correct resource name for parameter store backup.
  modules/aws-backup-source/backup_plan.tf
Due: trivy, tf-format, tf-lint

Add completion window variable for parameter store.
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Correct protected resource for backup_restore_testing_selection_parameter_store.
  modules/aws-backup-source/backup_restore_testing.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Remove awscc testing plan for S3.
  README.md
  modules/aws-backup-source/backup_restore_testing.tf
Due: trivy, tf-format, tf-lint

Add versioning to the parameter store bucket.
  modules/aws-backup-source/lambda_parameter_store_backup.tf
Due: trivy, tf-format, tf-lint

Update Documentation for parameter store backup.
  modules/aws-backup-source/README.md
Due: none

Create OpenSearchSupportProposal.md
  docs/OpenSearchSupportProposal.md
Due: none

Add unit tests for parameter_store_backup.py.
  modules/aws-backup-source/resources/parameter-store-backup/README.md
  modules/aws-backup-source/resources/parameter-store-backup/test_parameter_store_backup.py
Due: none

Add gitignore for python files.
  .gitignore
Due: none

Update modules/aws-backup-source/backup_plan.tf
  modules/aws-backup-source/backup_plan.tf
Due: trivy, tf-format, tf-lint

Update aws backup rule for the correct event.
  modules/aws-backup-source/lambda_post_build_version.tf
Due: trivy, tf-format, tf-lint

1.4.0 release candidate.
  CHANGELOG.md
  COVERED_SERVICES.md
  examples/source/aws-backups.tf
Due: trivy, tf-format, tf-lint

Tests working and terraform added for lambda function.
  modules/aws-backup-source/lambda_restore_to_s3.tf
  modules/aws-backup-source/resources/restore-to-s3/README.md
  modules/aws-backup-source/resources/restore-to-s3/restore_to_s3.py
  modules/aws-backup-source/resources/restore-to-s3/test_restore_to_s3.py
Due: trivy, tf-format, tf-lint

Path conditions:
  trivy: any of: \.tf(vars)?$, but not: ^.venv/.*
  tf-format: any of: (\.tf|\.tfvars)$ and not (\.terraform/.*$) and not (^.venv/.*)
  tf-lint: any of: (\.tf|\.tfvars)$ and not (\.terraform/.*$) and not (^.venv/.*)
  shellcheck: any of: (\.sh)$, but not: ^.venv/.*
