Repository NHSDigital/terraform-aws-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: trivy, tf-format, tf-lint, shellcheck

trivy:
  name: trivy
  entry: make tf-trivy
  language: system
  pass_filenames: false

tf-format:
  name: tf-format
  entry: make tf-format
  language: system
  pass_filenames: false

tf-lint:
  name: tf-lint
  entry: make tf-lint
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system
  pass_filenames: false

Switch from array comparison to length check
  modules/aws-backup-source/locals.tf
Due: trivy, tf-format, tf-lint

odin: enable trivy and tf-lint scanning and pre-commit
  .gitignore
  .pre-commit-config.yaml
  .tflint.hcl
  .tool-versions
  CONTRIBUTING.md
  Makefile
  examples/destination/aws-backups.tf
  examples/destination/versions.tf
  examples/source-bootstrap/permissions.tf
  examples/source/aws-backups.tf
  examples/source/versions.tf
  modules/aws-backup-destination/variables.tf
  modules/aws-backup-destination/versions.tf
  modules/aws-backup-source/locals.tf
  scripts/check-secrets.sh
Due: trivy, tf-format, tf-lint, shellcheck

odin: add in pr pipeline to check lint
  .github/actions/asdf-cache/action.yml
  .github/actions/build-common/action.yml
  .github/actions/check-secrets/action.yml
  .github/actions/check-secrets/git-secrets
  .github/workflows/pull-request.yml
Due: none

odin: corrected target branch name
  .github/workflows/pull-request.yml
Due: none

odin: add lint-ci make target
  Makefile
Due: none

odin: add tf-lint init
  .github/workflows/pull-request.yml
Due: none

odin: add support for efs backup plans
  examples/source/aws-backups.tf
  modules/aws-backup-source/backup_restore_testing.tf
  modules/aws-backup-source/locals.tf
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

odin: re-add region and ignore
  modules/aws-backup-destination/variables.tf
Due: trivy, tf-format, tf-lint

Add code-ark team to CODEOWNERS
  .github/CODEOWNERS
Due: none

Add more PR details to the changelog
  CHANGELOG.md
Due: none

ENG-893 Implement AWS Backup Restore Validation Module with Lambda and Step Functions
  docs/restore-testing-design.md
  modules/aws-backup-validation/README.md
  modules/aws-backup-validation/iam.tf
  modules/aws-backup-validation/lambda.py
  modules/aws-backup-validation/lambda.tf
  modules/aws-backup-validation/outputs.tf
  modules/aws-backup-validation/statemachine.json.tpl
  modules/aws-backup-validation/statemachine.tf
  modules/aws-backup-validation/variables.tf
  modules/aws-backup-validation/versions.tf
Due: trivy, tf-format, tf-lint

ENG-893 Implement AWS Backup Restore Validation Module with Lambda and Step Functions
  docs/diagrams/restore-validation-sequence.png
  docs/diagrams/restore-validation-sequence.puml
  docs/restore-testing-design.md
  modules/aws-backup-validation/README.md
  modules/aws-backup-validation/iam.tf
  modules/aws-backup-validation/lambda.py
  modules/aws-backup-validation/lambda.tf
  modules/aws-backup-validation/outputs.tf
  modules/aws-backup-validation/statemachine.json.tpl
  modules/aws-backup-validation/statemachine.tf
  modules/aws-backup-validation/variables.tf
  modules/aws-backup-validation/versions.tf
Due: trivy, tf-format, tf-lint

ENG-893 AWS Backup Validation Lambda to use Node.js and TypeScript
  modules/aws-backup-validation/lambda.tf
  modules/aws-backup-validation/package.json
  modules/aws-backup-validation/src/index.ts
  modules/aws-backup-validation/tsconfig.json
  modules/aws-backup-validation/variables.tf
Due: trivy, tf-format, tf-lint

ENG-893 AWS Backup Restore Testing Validation & Integrity Design
  docs/manual-restore-validation.md
  docs/restore-testing-design.md
  examples/customer-s3-validator/index.ts
  examples/customer-s3-validator/package.json
  examples/customer-s3-validator/tsconfig.json
  examples/manual-validation/main.tf
  modules/aws-backup-manual-validation/README.md
  modules/aws-backup-manual-validation/dist/orchestrator.js
  modules/aws-backup-manual-validation/iam.tf
  modules/aws-backup-manual-validation/lambda.tf
  modules/aws-backup-manual-validation/outputs.tf
  modules/aws-backup-manual-validation/package.json
  modules/aws-backup-manual-validation/src/orchestrator.ts
  modules/aws-backup-manual-validation/tsconfig.json
  modules/aws-backup-manual-validation/variables.tf
  modules/aws-backup-manual-validation/versions.tf
Due: trivy, tf-format, tf-lint

ENG-893 Remove accidental inclusion
  docs/restore-testing-design.md
Due: none

Add ECR support proposal.
  docs/ECRSupportProposal.md
Due: none

Update to include ECR native cross account replication as an alternative solution
  docs/ECRSupportProposal.md
Due: none

Initial restoration design document
  docs/restoration-design.md
Due: none

Fleshed out the design
  docs/restoration-design.md
Due: none

Corrections
  docs/restoration-design.md
Due: none

Update backup.tf
  modules/aws-backup-destination/backup.tf
Due: trivy, tf-format, tf-lint

including details on covered services
  COVERED_SERVICES.md
  README.md
Due: none

Add lambda module and lambda code to report back version.
  modules/aws-backup-source/lambda_post_build_version.tf
  modules/aws-backup-source/resources/post_build_version/post_build_version.py
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Add permission to create and push logs to cloudwatch log group.
  modules/aws-backup-source/lambda_post_build_version.tf
Due: trivy, tf-format, tf-lint

Add log group and prefix name.
  modules/aws-backup-source/lambda_post_build_version.tf
Due: trivy, tf-format, tf-lint

Correct name from var.prefix to var.name_prefix.
  modules/aws-backup-source/lambda_post_build_version.tf
Due: trivy, tf-format, tf-lint

Add proposal.
  docs/ParameterStoreSupportProposal.md
Due: none

Add restoration steps for the backup.
  docs/ParameterStoreSupportProposal.md
Due: none

Use version file for version used in lambda post build version.
  modules/aws-backup-source/lambda_post_build_version.tf
  modules/aws-backup-source/resources/post_build_version/post_build_version.py
  modules/aws-backup-source/variables.tf
  modules/aws-backup-source/version
Due: trivy, tf-format, tf-lint

ENG-893 Restoration design options document
  docs/restoration-design.md
Due: none

Add check on PR to make sure the version is greater than the tag.
  .github/workflows/cicd-1-pull-request.yaml
Due: none

Check version file is correct.
  .github/workflows/cicd-1-pull-request.yaml
  modules/aws-backup-source/version
Due: none

Fetch all git tags using git checkout.
  .github/workflows/cicd-1-pull-request.yaml
  modules/aws-backup-source/version
Due: none

Version needs to be greater than the current tag.
  .github/workflows/cicd-1-pull-request.yaml
Due: none

Update version to greater than current tag.
  modules/aws-backup-source/version
Due: none

ENG-921 Design documents
  README.md
  docs/251015-design-restoration/ENG-921 Step function for restorations from blueprint.drawio
  docs/251015-design-restoration/ENG-921 Step function for restorations from blueprint.drawio.png
  docs/251015-design-restoration/README.md
  docs/251015-design-restoration/restoration-design.md
  docs/restoration-design.md
Due: none

ENG-921 Design documents
  docs/251015-design-restoration/ENG-921 Step function for restorations from blueprint.drawio
  docs/251015-design-restoration/ENG-921 Step function for restorations from blueprint.drawio.png
  docs/251015-design-restoration/README.md
  docs/251015-design-restoration/restoration-design.md
  docs/restoration-design.md
Due: none

Update modules/aws-backup-source/resources/post_build_version/post_build_version.py
  modules/aws-backup-source/resources/post_build_version/post_build_version.py
Due: none

WIP.
  modules/aws-backup-source/lambda_backup.tf
  modules/aws-backup-source/resources/parameter-store-backup/parameter_store_backup.py
  modules/aws-backup-source/variables.tf
Due: trivy, tf-format, tf-lint

Path conditions:
  trivy: any of: \.tf(vars)?$, but not: ^.venv/.*
  tf-format: any of: (\.tf|\.tfvars)$ and not (\.terraform/.*$) and not (^.venv/.*)
  tf-lint: any of: (\.tf|\.tfvars)$ and not (\.terraform/.*$) and not (^.venv/.*)
  shellcheck: any of: (\.sh)$, but not: ^.venv/.*
